<div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
    Dropdown <span class="caret"></span>
  </a>


  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>google</li>
  </ul>
  
</div>
  <div id="user_nav" class="text-right">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path ,:class=>"btn btn-primary"%>
  <% else %>
    <%= link_to "Sign up", sign_up_path,:class=>"btn btn-primary"%> or
    <%= link_to "log in", log_in_path ,:class=>"btn btn-primary"%>
  <% end %>
</div>

<br/>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<script type="text/javascript">
$('#dLabel').dropdown()
</script>